.icons {
  position: fixed;
  top: 0;
  right: 3%;
}
.icons ul {
  list-style: none;
  display: flex;
}

.icons li {
  padding: 25px 0 25px 25px;
}
.copy-write {
  bottom: 0;
  right: 3%;
  position: fixed;
}
