.section:nth-child(1) {
  background-image: url(./banner.jpg);
}
#homePage.content {
  display: flex;
  max-width: 1140px;
  align-items: center;
  margin: auto;
}
.home-heading {
  color: #464646;
  margin: 25px 0;
  font-size: 58px;
}
.btn {
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 48px;
  line-height: 1.8em;
  background: transparent;
  color: #464646;
  border: 2px solid #464646;
  margin-top: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
p {
  margin: 25px 0px;
  font-size: 18px;
  font-weight: normal;
}
.home-details {
  width: 50%;
}

body {
  font-family: sans-serif;
}
.home-heading span {
  color: #ed2d34;
  display: block;
}

#homePage img {
  width: 50%;
}
